@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@theme {
  /* Custom CSS Class Starts */
  --color-themeBackgroundColor: #f4f8ff !important;
  --color-themePrimary: #135ce9 !important;
  --color-themeGray: #1c1c1c !important;
  --color-themeRed: #f4f8ff !important;
  --color-red: #ff0000 !important;
  --color-skeletonPrimary: #a4a4a4 !important;

  --color-themeDisableIconColor: #5a5a5a !important;

  --color-themeBorderColor: #ffffff !important;
  --color-lightGray: #6d758f !important;

  --color-themeBlueLight: #c9ddef !important;
  --color-themeBlue: #3a648a !important;

  --color-themeSidebarBg: #e8edf2;

  --color-themeGradientColorFrom: #135ce9;
  --color-themeGradientColorTo: #0954ec;
  /* Custom CSS Class Ends */
  --font-*: initial;
  --font-outfit: Outfit, Poppins;
  --font-syne: "Syne", sans-serif;
  --font-alexandria: "Alexandria", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-anton: "Anton", sans-serif;

  --breakpoint-*: initial;
  --breakpoint-2xsm: 375px;
  --breakpoint-xsm: 425px;
  --breakpoint-3xl: 2000px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 1800px;

  --breakpoint-5xl: 2000px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  body {
    position: relative;
    font-family: "Syne", sans-serif;
    font-weight: 400;
    z-index: 1;
    background-color: var(--color-themeBackgroundColor);
  }
}

/* Hide all scrollbars */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* src/index.css */
.font-clash {
  font-family: "Clash Display Variable", system-ui, sans-serif;
}

/*  Button starts */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  cursor: pointer;
  margin: auto;
  display: block;
  height: 10px;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  } /* -50% because we duplicate the full list */
}

/* This class is toggled by the component when started */
.animate-scroll {
  animation-name: infinite-scroll;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* duration & direction come from inline CSS variables set by the component */
  animation-duration: var(--animation-duration, 40s);
  animation-direction: var(--animation-direction, normal);
}
